@import "tailwindcss";

@theme {
    --font-primary: "Poppins", sans-serif;
    --font-secondary: "Monospace", monospace;
}   


/* Animation */
.anim-typewriter{
    animation: typewriter 4s steps(32) 1s 1 normal both,
               blinkTextCursor 500ms steps(32) infinite normal;
}

@keyframes typewriter{
    from{width: 0;}
    to{width: 20em;}
}

@keyframes blinkTextCursor{
    from{border-right-color: rgba(0,0,0,.75);}
    to{border-right-color: transparent;}
}

.line-1{
    position: relative;
    top: 50%;  
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(0,0,0,.75);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}